@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $R_Reg
//overflow-x: hidden
//opacity: 1

.all_wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	position: relative

.content
	flex: 1

//============= header ==========
@import "main-header-style"
//style for header
//============= top-menu ==========
@import "top-menu-style" // style for top-menu
@import "menu-style-wrap" // wrap style for top-menu
//============= 404 ==========
@import "404-style" // style for page 404
//============= footer ==========
@import "main-footer-style"
//style for footer
//===============================
@import "main-style" // style for main page
//===============================
@import "apartments-style"
// apartments page style
//===============================
@import "room_style"
//room page style
//===============================
@import "options_style"
// options page style
//===============================
@import "construction_style"
// construction page style
//===============================
@import "contact-style"
// contact page style
//===============================
@import "news-list-style" // news-list page style
//===============================
@import "manager-style" // style for manager page
//===============================

.content
	width: 100%
	position: relative
	z-index: 1
	&__inner
		+inner
		position: relative


	&__link-wrap
		overflow: hidden
		cursor: pointer
		display: flex
		align-self: center
		position: absolute
		z-index: 9999

	&__link
		+fonts($EG_Bold, $main-color, 12, 24, 500)
		+aBtn
		&--left
			padding-left: 5px
		&--right
			text-align: right
			padding-right: 5px
			+fonts($EG_Bold, $main-color, 12, 16, 500)
		&--center
			padding-top: 5px
			+fonts($EG_Bold, $main-color, 12, 16, 500)

	&__icon
		display: inline-block
		&--arrow-left
			background: url("../img/arrow-icon/arrow-left.png") no-repeat center top
			width: 20px
			height: 36px
		&--arrow-right
			background: url("../img/arrow-icon/arrow-right.png") no-repeat center top
			width: 20px
			height: 36px
		&--arrow-center
			background: url("../img/arrow-icon/arrow-down.png") no-repeat center top
			width: 36px
			height: 36px
			transform: rotate(90deg)

.left-btm-link
	top: 50%
	left: 10px
	transform: translate(0, -50%)

.right-btm-link
	top: 50%
	right: 10px
	transform: translate(0, -50%)

.center-btm-link
	bottom: 70px
	left: 0
	right: 0
	margin: auto
	transform: rotate(-90deg)
	width: 140px

.main-btn-center
	bottom: 5%
	left: 50%
	right: 50%
	margin: auto
//===============================
[data-content="main"]
	background: url("../img/main_page/bg-last.jpg") no-repeat center top / cover
	min-height: 100vh
[data-content="bg"]
	background-color: #f4ede7
	height: 100vh
//[data-content="404"]
//	background: url("../img/404/404_bg.png") no-repeat center top  / cover
//	min-height: 100vh
//===============================

//===============================
.page-heading
	text-align: center
	padding: 0 0 15px
	position: relative
	z-index: 10
	box-sizing: border-box
	height: 125px
	overflow: hidden
	&::before
		content: ''
		width: 340px
		height: 340px
		box-sizing: border-box
		border: 1px solid #ece2db
		border-radius: 50%
		position: absolute
		z-index: -1
		top: 0
		left: 0
		right: 0
		margin: auto
	&::after
		content: ''
		width: 324px
		height: 324px
		box-sizing: border-box
		border: 1px solid #ece2db
		border-radius: 50%
		position: absolute
		z-index: -1
		top: 7px
		left: 0
		right: 0
		margin: auto
	&--news
		height: auto
		&::before
			width: 186px
			height: 186px
			top: auto
			bottom: 0
		&::after
			width: 176px
			height: 176px
			top: auto
			bottom: 6px

//===============================
.page-top
	width: 100%
	text-align: center
	&--construction
		text-align: left
	&--manager
		position: relative
		z-index: 10
	&__heading
		+fonts($ZI, $main-color, 60, 50, 25)
		&--construction
			+fonts($ZI, $main-color, 48, 50, 25)
		&--contact
			+fonts($ZI, $main-color, 72, 60, 25)
		&--manager
			+fonts($ZI, $main-color, 72, 130, 25)
	&__caption
		+fonts($EG_Bold, $main-color, 18, 22, 25)
		&--contact
			+fonts($EG_Bold, $main-color, 30, 52, 25)
			position: relative
			&::before
				content: ''
				height: 1px
				width: 80px
				background-color: #f0ae76
				position: absolute
				top: 60%
				left: 15%
			&::after
				content: ''
				height: 1px
				width: 80px
				background-color: #f0ae76
				position: absolute
				top: 60%
				right: 15%
	&__text
		+fonts($R_Reg, #596472, 12, 24, 25)

//===============================
.icon
	width: 10px
	height: 10px
	display: inline-block
	position: absolute
	top: 0
	left: 0

.arrow_icon
	background: url("../img/room/arrow_icon.png") no-repeat left top
	top: 4px
	left: -15px

.key_icon
	background: url("../img/room/key_icon.png") no-repeat left top
	width: 9px
	height: 9px
	top: 3px
	left: -15px

.top-menu-icon
	background: url("../img/main_page/top-menu/phone_icon.png") no-repeat left top
	width: 14px
	height: 15px
	top: -15px
	left: 0
	right: 0
	margin: auto
//===============================
.black-wrapper
	position: absolute
	width: 540px
	height: 400px
	padding: 5px
	//&__inner
	&__heading
		+fonts($ZI, $main-color, 90, 130, 25)
	&__description
		+fonts($EG_Bold, $main-color, 30, 45, 25)
		margin: 15px auto
		position: relative
		&::before
			content: ''
			height: 1px
			background-color: #f0ae76
			position: absolute
			top: 0
			left: 0
		&::after
			content: ''
	&__text-wrapper
		width: 380px
		margin: 0 auto
		padding: 0 25px
		height: 200px
		overflow: auto
	&__text
		+fonts($R_Reg, #596472, 12, 24, 25)
		text-align: justify
//===============================
//BTN STYLE

//===============================
.floor_page
	width: 100%
	min-height: 100%
	display: flex
	justify-content: flex-start
	&__left,
	&__right
		width: 50%
	&__left
		background: url("../img/floor_page/floor_page_bg.jpg") no-repeat center top / cover
		min-height: 100vh
	&__right
		background-color: green

//===============================
//===============================

@import "media"
// Всегда в конце
