@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $R_Reg
//overflow-x: hidden
//opacity: 1

.all_wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	position: relative

.content
	flex: 1

//============= header ==========
@import "main-header-style"
//style for header
//============= footer ==========
@import "main-footer-style"
//style for footer
//===============================
@import "apartments-style"
// apartments page style
//===============================
@import "room_style"
//room page style
//===============================
@import "options_style"
// options page style
//===============================
@import "construction_style"
// construction page style
//===============================
@import "contact-style"
// contact page style
//===============================

.content
	width: 100%
	height: 100%
	position: relative
	z-index: 1
	//background-color: #f4ede7
	&__inner
		+inner
		height: calc(100vh - 30px)
		//background-color: #cccccc
		position: relative

	&__link-wrap
		width: 25px
		height: 36px
		overflow: hidden
		cursor: pointer
		background-color: green
		display: flex
		align-self: center
		position: absolute
		z-index: 9999
		transition: all .8s
		&:hover
			width: 140px
			transition: all .8s
		&:hover .content__link
			transition: all 1.7s
			opacity: 1
			visibility: visible
			text-indent: 0
	&__link
		+fonts($EG_Bold, $main-color, 12, 24, 500)
		+aBtn
		vertical-align: middle
		visibility: hidden
		transition: all .1s
		opacity: 0
		&:hover
			background-color: red
		&--left
			padding-left: 5px
		&--right
			text-align: right
			padding-right: 5px
	&__icon
		display: inline-block
		&--arrow-left
			background: url("../img/arrow-icon/arrow-left.png") no-repeat center top
			width: 20px
			height: 36px
		&--arrow-right
			background: url("../img/arrow-icon/arrow-right.png") no-repeat center top
			width: 20px
			height: 36px

.left-btm-link
	top: 50%
	left: 10px
	transform: translate(0, -50%)
	&::before
		content: ''
		position: absolute
		width: 20px
		height: 36px
		background: url("../img/arrow-icon/arrow-left.png") no-repeat center center

.right-btm-link
	top: 50%
	right: 10px
	transform: translate(0, -50%)
	&::before
		content: ''
		position: absolute
		width: 20px
		height: 36px
		background: url("../img/arrow-icon/arrow-right.png") no-repeat center center

.center-btm-link
	bottom: 0
	left: 0
	right: 0
	margin: auto
	&::before
		content: ''
		position: absolute
		width: 36px
		height: 20px
		background: url("../img/arrow-icon/arrow-down.png") no-repeat center center



.main-btn-center
	bottom: 5%
	left: 50%
	right: 50%
	margin: auto
//transform: rotate(-90deg)
//===============================
[data-content="main"]
	background: url("../img/main_page/bg.jpg") no-repeat center top / cover
	margin-bottom: -30px
	height: 100vh
[data-content="bg"]
	background-color: #f4ede7
	margin-bottom: -30px
	height: 100vh
//===============================
.main
	//background: url("../img/main_page/bg.jpg") no-repeat center top / cover
	min-height: 100vh
	height: 100vh
	padding: 7% 0 3%
	&__inner
		//background-color: red
		height: 100%
		+inner
		position: relative
	&__logo-wrap
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 340px
		height: 340px
		padding: 7px
		box-sizing: border-box
		border: 1px solid #ebe1d9
		border-radius: 50%
		&::after
			content: ''
			width: 97%
			height: 97%
			background-color: rgba(#ffffff, .8)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			z-index: 1
			border-radius: 50%
	&__heading
		position: relative
		z-index: 30
		text-align: center
		+fonts($ZI, $main-color, 90, 130, 25)
		margin: 50px auto 0
		text-indent: 20px
	&__text
		+fonts($EG_Bold, $main-color, 60, 110, 25)
		text-transform: uppercase
		position: absolute
		z-index: 31
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		&::before
			content: ''
			height: 1px
			position: absolute
			top: 60%
			right: 110%
			background-color: #f0ae76
			width: 80px
			z-index: 32
		&::after
			content: ''
			height: 1px
			position: absolute
			top: 60%
			left: 110%
			background-color: #f0ae76
			width: 80px
			z-index: 32
//===============================
.l-t,
.r-t,
.l-b,
.r-b
	width: 50px
	height: 50px
	position: absolute
	background-color: greenyellow
	border-radius: 50%
	display: block
	text-align: center
	color: #000

.l-t
	top: 0
	left: 0

.r-t
	top: 0
	right: 0

.l-b
	bottom: 0
	left: 0

.r-b
	bottom: 0
	right: 0

//===============================
.page-heading
	text-align: center
	padding: 0 0 15px
	position: relative
	z-index: 10
	box-sizing: border-box
	height: 125px
	overflow: hidden
	&::before
		content: ''
		width: 340px
		height: 340px
		box-sizing: border-box
		border: 1px solid #ece2db
		border-radius: 50%
		position: absolute
		z-index: -1
		top: 0
		left: 0
		right: 0
		margin: auto
	&::after
		content: ''
		width: 324px
		height: 324px
		box-sizing: border-box
		border: 1px solid #ece2db
		border-radius: 50%
		position: absolute
		z-index: -1
		top: 7px
		left: 0
		right: 0
		margin: auto
//===============================
.page-top
	width: 100%
	text-align: center

	&--construction
		text-align: left
	&__heading
		+fonts($ZI, $main-color, 60, 50, 25)
		&--construction
			+fonts($ZI, $main-color, 48, 50, 25)
		&--contact
			+fonts($ZI, $main-color, 72, 60, 25)
	&__caption
		+fonts($EG_Bold, $main-color, 18, 22, 25)
		&--contact
			+fonts($EG_Bold, $main-color, 30, 52, 25)
			position: relative
			&::before
				content: ''
				height: 1px
				width: 80px
				background-color: #f0ae76
				position: absolute
				top: 60%
				left: 15%
			&::after
				content: ''
				height: 1px
				width: 80px
				background-color: #f0ae76
				position: absolute
				top: 60%
				right: 15%
	&__text
		+fonts($R_Reg, #596472, 12, 24, 25)

//===============================
.black-wrapper
	position: absolute
	width: 540px
	height: 400px
	padding: 5px
	//&__inner
	&__heading
		+fonts($ZI, $main-color, 90, 130, 25)
	&__description
		+fonts($EG_Bold, $main-color, 30, 45, 25)
		margin: 15px auto
		position: relative
		&::before
			content: ''
			height: 1px
			background-color: #f0ae76
			position: absolute
			top: 0
			left: 0
		&::after
			content: ''
	&__text-wrapper
		width: 380px
		margin: 0 auto
		padding: 0 25px
		height: 200px
		overflow: auto
	&__text
		+fonts($R_Reg, #596472, 12, 24, 25)
		text-align: justify
//===============================
//BTN STYLE

//===============================
.floor_page
	width: 100%
	min-height: 100%
	display: flex
	justify-content: flex-start
	&__left,
	&__right
		width: 50%
	&__left
		background: url("../img/floor_page/floor_page_bg.jpg") no-repeat center top / cover
		min-height: 100vh
	&__right
		background-color: green

//===============================
//===============================

@import "media"
// Всегда в конце
